body {
  background-color: antiquewhite;
}
.container {
  margin: 0 auto;
  width: 30%;
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/953/692/original/abstract-colourful-watercolour-background-free-vector.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 10px;
  padding: 20px;

  color: rgb(26, 93, 151);
}

input {
  border: none;
}
.search-engine {
  display: flex;
  margin-bottom: 20px;
}
.more-info {
  margin-top: 50px;
  display: block;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 18px;
}

#current-button {
  border-radius: 50px;
  border: none;
  box-shadow: 5px 2px;
  color: rgb(121, 112, 112);
  background-color: white;
  padding: 2px 10px;
  font-size: 15px;
  margin-right: 10px;
}

#search-button {
  border: none;
  background-color: white;
  margin-right: 10px;
}

.live-weather {
  width: 50%;
  margin-bottom: 20px;
  text-align: left;
}

.temperature {
  font-size: 30px;
}
#weather-description:first-letter {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

footer a {
  text-decoration: none;
  color: rgb(76, 76, 219);
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

#fahrenheit-unit {
  color: ;
}
.active {
  text-decoration: none;
  color: rgb(99, 99, 180);
}

.active:hover {
  color: black;
  cursor: default;
}
